Redirect 301 /reimpress /?IMPRIME=1
Redirect 301 /reimprime /?IMPRIME=1
Redirect 301 /0ad5bea826cc14783c694b1886a02482 /?IMPRIME=1


Redirect 301 /list /views/listar.php
Redirect 301 /listar /views/listar.php
Redirect 301 /43be2f60a6db7bf23ed742e2b13ab659 /views/listar.php
